.box{
    height: 1000px;
        /* border: 100px; */
        background-image: url(/images/top-.jpg); 
        /* margin: 50%; */
        background-size: cover;
        background-position: center;
    }
article{
    border: 10px solid black;
    background-color: lightpink;
    margin: 10px;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}
